.current::after {
  content: "";
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}

.page-header {
  .page-header__container {
    display: flex;
    align-items: center;
  }

  .page-header__site-nav {
    display: flex;
    align-items: center;
  }

  .page-header__address {
    display: flex;
    margin-left: auto;
  }
}

.page-header__contact {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $primary-text-color;

  transition: color 250ms $timimng-fuction-bezier;

  &:first-child {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-header__icon {
  margin-right: 10px;

  fill: currentColor;
  transition: fill 250ms $timimng-fuction-bezier;

  .page-header__contact:hover &,
  .page-header__contact:focus & {
    fill: $accent-color;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
}

.site-nav {
  .site-nav__logo {
    margin-right: 85px;
  }

  .site-nav__logo-text {
    color: #000000;
  }

  .site-nav__list {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  position: relative;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition: color 250ms $timimng-fuction-bezier;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
